*{
    padding: 0;
    margin: 0;
}

div{
    width: 100px;
    height: 50px;
    margin: 20px 0;
}

section:hover div{
    width: 100vw;
    transition-duration: 3s;
}

#sam1{ transition-timing-function: linear; }
#sam2{ transition-timing-function: ease-in; }
#sam3{ transition-timing-function: ease-out; }
#sam4{ transition-timing-function: ease-in-out; }